{% extends 'layout.html' %} {% block content %}
<div class="container">
  <h1>Acerca de {{name}}</h1>
  <p>
    Este desafío es un desafío de programación de 30 días diseñado para ayudarte
    a aprender el lenguaje de programación Python, resolviendo un problema de
    Python cada día.
  </p>
  <p>
    Este proyecto fue construido usando las siguientes tecnologías:
    <span class="tech">Flask</span>, <span class="tech">Python</span>,
    <span class="tech">HTML</span>, <span class="tech">CSS</span>,
    <span class="tech">MongoDB</span> y uso de <span class="tech">APIs</span>
  </p>
</div>
{% endblock %}
